Preprocess Bermax Auto Berhad

In [66]:
import pandas as pd
import yaml

bermaz_stock_code = 5248
# Load data
cars_2022 = pd.read_parquet("data/cars_2022.parquet")  # or .csv if converted
cars_2023 = pd.read_parquet("data/cars_2023.parquet")  # or .csv if converted
cars_2024 = pd.read_parquet("data/cars_2024.parquet")  # or .csv if converted
cars_2025 = pd.read_parquet("data/cars_2025.parquet")  # or .csv if converted

# Merge the three files into a single DataFrame
cars_df = pd.concat([cars_2022, cars_2023, cars_2024, cars_2025], ignore_index=True)

bermaz_df = pd.read_csv("data/quarterly_financials/Bermaz_Auto_Berhad.csv")
bermaz_df.columns = bermaz_df.iloc[0]
# Remove the first row since it is now the header
bermaz_df = bermaz_df.iloc[1:].reset_index(drop=True)

# # load yaml file data
with open("company_brand.yaml", "r") as file:
  yaml_data = yaml.safe_load(file)
bermaz_brands = yaml_data[bermaz_stock_code]

bermaz_df

,Ann. Date,Quarter,Revenue,PBT,NP,NP to SH,NP Margin,ROE,EPS,DPS,...,Unnamed: 28_level_1,Unnamed: 29_level_1,Unnamed: 30_level_1,Unnamed: 31_level_1,Unnamed: 32_level_1,Unnamed: 33_level_1,Unnamed: 34_level_1,Unnamed: 35_level_1,Unnamed: 36_level_1,Unnamed: 37_level_1
0,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,...,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025,Financial Year: 30-Apr-2025
1,12-Mar-2025,31-Jan-2025,602080,34832,26227,24144,4.36%,3.71%,2.07,1.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12-Dec-2024,31-Oct-2024,646861,57050,42711,40348,6.60%,5.41%,3.45,10.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11-Sep-2024,31-Jul-2024,846180,97769,75378,70217,8.91%,9.40%,6.01,3.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,...,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024,Financial Year: 30-Apr-2024
5,11-Jun-2024,30-Apr-2024,937525,130570,99583,90224,10.62%,10.99%,7.73,11.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,13-Mar-2024,31-Jan-2024,896505,95069,74525,70503,8.31%,9.00%,6.04,4.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,12-Dec-2023,31-Oct-2023,1006951,122834,95721,90096,9.51%,11.71%,7.73,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,12-Sep-2023,31-Jul-2023,1089278,140667,107901,100219,9.91%,13.61%,8.59,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,...,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023,Financial Year: 30-Apr-2023
10,12-Jun-2023,30-Apr-2023,1072399,139533,107614,100622,10.03%,13.21%,8.63,11.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,13-Mar-2023,31-Jan-2023,975967,115516,92184,87288,9.45%,12.34%,7.50,4.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,08-Dec-2022,31-Oct-2022,782969,91589,70808,65673,9.04%,9.94%,5.65,3.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12-Sep-2022,31-Jul-2022,716869,74566,56616,50159,7.90%,7.96%,4.32,3.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,...,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022,Financial Year: 30-Apr-2022
15,13-Jun-2022,30-Apr-2022,897361,115432,80845,78704,9.01%,12.41%,6.77,4.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10-Mar-2022,31-Jan-2022,623130,55112,42722,40711,6.86%,7.01%,3.50,2.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,13-Dec-2021,31-Oct-2021,483838,33549,24922,26039,5.15%,4.68%,2.24,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,13-Sep-2021,31-Jul-2021,320792,14477,10340,10267,3.22%,1.91%,0.88,0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,...,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021,Financial Year: 30-Apr-2021
20,18-Jun-2021,30-Apr-2021,641197,83470,65870,66827,10.27%,11.78%,5.75,3.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10-Mar-2021,31-Jan-2021,597980,42208,32569,33082,5.45%,6.41%,2.85,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,10-Dec-2020,31-Oct-2020,599844,33900,24533,24790,4.09%,4.96%,2.13,1.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,10-Sep-2020,31-Jul-2020,448894,13115,8587,9245,1.91%,1.92%,0.80,0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,...,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020,Financial Year: 30-Apr-2020
25,11-Jun-2020,30-Apr-2020,299360,3199,2056,2459,0.69%,0.52%,0.21,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,16-Mar-2020,31-Jan-2020,467463,34347,28382,27150,6.07%,5.68%,2.34,1.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,10-Dec-2019,31-Oct-2019,457169,29188,21608,20388,4.73%,4.23%,1.76,2.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,13-Sep-2019,31-Jul-2019,535044,65037,51473,50515,9.62%,10.13%,4.35,3.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,...,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019,Financial Year: 30-Apr-2019
30,12-Jun-2019,30-Apr-2019,538277,77608,60188,60057,11.18%,10.60%,5.18,10.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,13-Mar-2019,31-Jan-2019,778130,102821,81622,81013,10.49%,14.57%,6.99,4.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,12-Dec-2018,31-Oct-2018,690318,94584,74619,73917,10.81%,14.33%,6.36,3.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,13-Sep-2018,31-Jul-2018,485396,67244,51593,50278,10.63%,10.60%,4.33,2.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,...,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018,Financial Year: 30-Apr-2018
35,12-Jun-2018,30-Apr-2018,570594,73671,58160,57187,10.19%,12.04%,4.93,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,12-Mar-2018,31-Jan-2018,559397,57236,44296,40472,7.92%,9.08%,3.50,2.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,08-Dec-2017,31-Oct-2017,471707,34604,25504,22201,5.41%,5.19%,1.93,1.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,11-Sep-2017,31-Jul-2017,391228,31723,23158,20207,5.92%,4.73%,1.75,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,...,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017,Financial Year: 30-Apr-2017
40,13-Jun-2017,30-Apr-2017,354032,32640,25651,22211,7.25%,5.00%,1.93,3.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,14-Mar-2017,31-Jan-2017,338683,38971,28428,25105,8.39%,5.51%,2.19,2.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,08-Dec-2016,31-Oct-2016,473171,46386,35132,30627,7.42%,6.69%,2.67,2.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,08-Sep-2016,31-Jul-2016,493616,58573,44249,41111,8.96%,9.00%,3.59,3.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,...,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016,Financial Year: 30-Apr-2016
45,13-Jun-2016,30-Apr-2016,534712,73269,55781,51618,10.43%,9.72%,4.51,10.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,11-Mar-2016,31-Jan-2016,522580,58223,44028,41128,8.43%,8.15%,3.60,2.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,10-Dec-2015,31-Oct-2015,542406,73700,55860,53063,10.30%,10.80%,4.66,2.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,10-Sep-2015,31-Jul-2015,512545,73539,55030,52203,10.74%,11.33%,4.58,2.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,...,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015,Financial Year: 30-Apr-2015
50,11-Jun-2015,30-Apr-2015,424343,77244,57011,55264,13.44%,11.61%,6.80,6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
import itertools
import re
from datetime import datetime

def create_fiscal_quarter_mapper(financial_data_path):
    """
    Creates a function that maps dates to fiscal quarters based on a company's financial data.
    
    Args:
        financial_data_path: Path to the financial data CSV file with fiscal year markers
    
    Returns:
        A function that takes a date and returns the fiscal year and quarter
    """
    # Read the financial data
    df = pd.read_csv(financial_data_path)
    
    # Extract fiscal year information
    fiscal_years = {}
    current_fiscal_year = None
    fiscal_year_pattern = r"Financial Year: (\d{2}-[A-Za-z]+-\d{4})"
    
    for index, row in df.iterrows():
        # Check any column that might contain the fiscal year marker
        match = re.search(fiscal_year_pattern, row["Date"])
        if match:
            current_fiscal_year = datetime.strptime(match.group(1), '%d-%b-%Y')
            fiscal_years[current_fiscal_year] = []
            continue
        
        if current_fiscal_year:
            current_quarter_date = datetime.strptime(row.get('Date.1'), '%d-%b-%Y')
            
            # Calculate difference in months
            month_diff = (current_fiscal_year.year - current_quarter_date.year) * 12 + (current_fiscal_year.month - current_quarter_date.month)
            
            # Determine quarter based on month difference
            if month_diff == 0:  # Same month as fiscal year end
                qtr = 4
            elif month_diff == 3:  # 3 months before fiscal year end
                qtr = 3
            elif month_diff == 6:  # 6 months before fiscal year end
                qtr = 2
            elif month_diff == 9:  # 9 months before fiscal year end
                qtr = 1
            else:
                qtr = 0  # Error or special case
                
            # Store the quarter date with its fiscal quarter info
            quarter_info = {
                'quarter date': current_quarter_date,
                'fiscal_year': current_fiscal_year,
                'quarter': qtr
            }
            fiscal_years[current_fiscal_year].append(quarter_info)
    return fiscal_years

# Usage example
bermaz_mapper = create_fiscal_quarter_mapper('data/quarterly_financials/Bermaz_Auto_Berhad.csv')
bermaz_mapper
# list(itertools.chain(*bermaz_mapper.values()))

{datetime.datetime(2025, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2025, 1, 31, 0, 0),
   'fiscal_year': datetime.datetime(2025, 4, 30, 0, 0),
   'quarter': 3},
  {'quarter date': datetime.datetime(2024, 10, 31, 0, 0),
   'fiscal_year': datetime.datetime(2025, 4, 30, 0, 0),
   'quarter': 2},
  {'quarter date': datetime.datetime(2024, 7, 31, 0, 0),
   'fiscal_year': datetime.datetime(2025, 4, 30, 0, 0),
   'quarter': 1}],
 datetime.datetime(2024, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2024, 4, 30, 0, 0),
   'fiscal_year': datetime.datetime(2024, 4, 30, 0, 0),
   'quarter': 4},
  {'quarter date': datetime.datetime(2024, 1, 31, 0, 0),
   'fiscal_year': datetime.datetime(2024, 4, 30, 0, 0),
   'quarter': 3},
  {'quarter date': datetime.datetime(2023, 10, 31, 0, 0),
   'fiscal_year': datetime.datetime(2024, 4, 30, 0, 0),
   'quarter': 2},
  {'quarter date': datetime.datetime(2023, 7, 31, 0, 0),
   'fiscal_year': datetime.datetime(2024, 4, 30, 0, 0),
   'quarter': 1}],
 datetime.datetime(2023, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2023, 4, 30, 0, 0),
   'fiscal_year': datetime.datetime(2023, 4, 30, 0, 0),
   'quarter': 4},
  {'quarter date': datetime.datetime(2023, 1, 31, 0, 0),
   'fiscal_year': datetime.datetime(2023, 4, 30, 0, 0),
   'quarter': 3},
  {'quarter date': datetime.datetime(2022, 10, 31, 0, 0),
   'fiscal_year': datetime.datetime(2023, 4, 30, 0, 0),
   'quarter': 2},
  {'quarter date': datetime.datetime(2022, 7, 31, 0, 0),
   'fiscal_year': datetime.datetime(2023, 4, 30, 0, 0),
   'quarter': 1}],
 datetime.datetime(2022, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2022, 4, 30, 0, 0),
   'fiscal_year': datetime.datetime(2022, 4, 30, 0, 0),
   'quarter': 4},
  {'quarter date': datetime.datetime(2022, 1, 31, 0, 0),
   'fiscal_year': datetime.datetime(2022, 4, 30, 0, 0),
   'quarter': 3},
  {'quarter date': datetime.datetime(2021, 10, 31, 0, 0),
   'fiscal_year': datetime.datetime(2022, 4, 30, 0, 0),
   'quarter': 2},
  {'quarter date': datetime.datetime(2021, 7, 31, 0, 0),
   'fiscal_year': datetime.datetime(2022, 4, 30, 0, 0),
   'quarter': 1}],
 datetime.datetime(2021, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2021, 4, 30, 0, 0),
   'fiscal_year': datetime.datetime(2021, 4, 30, 0, 0),
   'quarter': 4},
  {'quarter date': datetime.datetime(2021, 1, 31, 0, 0),
   'fiscal_year': datetime.datetime(2021, 4, 30, 0, 0),
   'quarter': 3},
  {'quarter date': datetime.datetime(2020, 10, 31, 0, 0),
   'fiscal_year': datetime.datetime(2021, 4, 30, 0, 0),
   'quarter': 2},
  {'quarter date': datetime.datetime(2020, 7, 31, 0, 0),
   'fiscal_year': datetime.datetime(2021, 4, 30, 0, 0),
   'quarter': 1}],
 datetime.datetime(2020, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2020, 4, 30, 0, 0),
   'fiscal_year': datetime.datetime(2020, 4, 30, 0, 0),
   'quarter': 4},
  {'quarter date': datetime.datetime(2020, 1, 31, 0, 0),
   'fiscal_year': datetime.datetime(2020, 4, 30, 0, 0),
   'quarter': 3},
  {'quarter date': datetime.datetime(2019, 10, 31, 0, 0),
   'fiscal_year': datetime.datetime(2020, 4, 30, 0, 0),
   'quarter': 2},
  {'quarter date': datetime.datetime(2019, 7, 31, 0, 0),
   'fiscal_year': datetime.datetime(2020, 4, 30, 0, 0),
   'quarter': 1}],
 datetime.datetime(2019, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2019, 4, 30, 0, 0),
   'fiscal_year': datetime.datetime(2019, 4, 30, 0, 0),
   'quarter': 4},
  {'quarter date': datetime.datetime(2019, 1, 31, 0, 0),
   'fiscal_year': datetime.datetime(2019, 4, 30, 0, 0),
   'quarter': 3},
  {'quarter date': datetime.datetime(2018, 10, 31, 0, 0),
   'fiscal_year': datetime.datetime(2019, 4, 30, 0, 0),
   'quarter': 2},
  {'quarter date': datetime.datetime(2018, 7, 31, 0, 0),
   'fiscal_year': datetime.datetime(2019, 4, 30, 0, 0),
   'quarter': 1}],
 datetime.datetime(2018, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2018, 4, 30, 0, 0),
   'fiscal_year': datetime.datetime(2018, 4, 30, 0, 0),
   'quarter': 4},
  {'quarter date': datetime.datetime(2018, 1, 31, 0, 0),
   'fiscal_year': datetime.datetime(2018, 4, 30, 0, 0),
   'quarter': 3},
  {'quarter date': datetime.datetime(2017, 10, 31, 0, 0),
   'fiscal_year': datetime.datetime(2018, 4, 30, 0, 0),
   'quarter': 2},
  {'quarter date': datetime.datetime(2017, 7, 31, 0, 0),
   'fiscal_year': datetime.datetime(2018, 4, 30, 0, 0),
   'quarter': 1}],
 datetime.datetime(2017, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2017, 4, 30, 0, 0),
   'fiscal_year': datetime.datetime(2017, 4, 30, 0, 0),
   'quarter': 4},
  {'quarter date': datetime.datetime(2017, 1, 31, 0, 0),
   'fiscal_year': datetime.datetime(2017, 4, 30, 0, 0),
   'quarter': 3},
  {'quarter date': datetime.datetime(2016, 10, 31, 0, 0),
   'fiscal_year': datetime.datetime(2017, 4, 30, 0, 0),
   'quarter': 2},
  {'quarter date': datetime.datetime(2016, 7, 31, 0, 0),
   'fiscal_year': datetime.datetime(2017, 4, 30, 0, 0),
   'quarter': 1}],
 datetime.datetime(2016, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2016, 4, 30, 0, 0),
   'fiscal_year': datetime.datetime(2016, 4, 30, 0, 0),
   'quarter': 4},
  {'quarter date': datetime.datetime(2016, 1, 31, 0, 0),
   'fiscal_year': datetime.datetime(2016, 4, 30, 0, 0),
   'quarter': 3},
  {'quarter date': datetime.datetime(2015, 10, 31, 0, 0),
   'fiscal_year': datetime.datetime(2016, 4, 30, 0, 0),
   'quarter': 2},
  {'quarter date': datetime.datetime(2015, 7, 31, 0, 0),
   'fiscal_year': datetime.datetime(2016, 4, 30, 0, 0),
   'quarter': 1}],
 datetime.datetime(2015, 4, 30, 0, 0): [{'quarter date': datetime.datetime(2015, 4, 30, 0, 0),
   'fiscal_year': datetime.datetime(2015, 4, 30, 0, 0),
   'quarter': 4}]}

In [68]:
all_quarters = sorted(itertools.chain(*bermaz_mapper.values()), key=lambda x: x['quarter date'])
def map_fiscal_quarter(date_reg):
    for quarter_info in all_quarters:
        if quarter_info['quarter date'] >= date_reg:
            return quarter_info['quarter date']
    return None

# Map fiscal quarters to the DataFrame
cars_df['quarter'] = cars_df['date_reg'].apply(map_fiscal_quarter)

# Map distributors based on car brand
cars_df['distributor'] = cars_df['maker'].apply(lambda brand: "Bermaz" if brand in bermaz_brands else "Other")

cars_df

,date_reg,type,maker,model,colour,fuel,state,quarter,distributor
0,2022-01-01,window_van,Hyundai,Grand Starex,white,diesel,Rakan Niaga,2022-01-31,Other
1,2022-01-01,motokar,Mercedes Benz,A-Class,silver,petrol,Rakan Niaga,2022-01-31,Other
2,2022-01-01,motokar,Mercedes Benz,A-Class,white,petrol,Rakan Niaga,2022-01-31,Other
3,2022-01-01,jip,Mercedes Benz,GLB,grey,petrol,Rakan Niaga,2022-01-31,Other
4,2022-01-01,jip,Perodua,Aruz,white,petrol,Rakan Niaga,2022-01-31,Other
...,...,...,...,...,...,...,...,...,...
2696974,2025-04-30,window_van,Zeekr,009,black,electric,W.P. Kuala Lumpur,NaT,Other
2696975,2025-04-30,window_van,Zeekr,009,black,electric,W.P. Kuala Lumpur,NaT,Other
2696976,2025-04-30,window_van,Zeekr,009,black,electric,W.P. Kuala Lumpur,NaT,Other
2696977,2025-04-30,window_van,Zeekr,009,black,electric,Rakan Niaga,NaT,Other
2696978,2025-04-30,window_van,Zeekr,009,white,electric,Rakan Niaga,NaT,Other

In [69]:
quarters_to_remove = ['FY2022-Q1', 'FY2022-Q2', 'FY2022-Q3', 'FY2022-Q4', None]
distributor_to_remove = 'Other'
cars_df = cars_df[
    (~cars_df['quarter'].isin(quarters_to_remove)) & 
    (cars_df['distributor'] != distributor_to_remove)
]

# Aggregate by quarter
quarterly_registrations = cars_df.groupby(['quarter', 'distributor']).size().reset_index(name='Number of Cars')
quarterly_registrations

      quarter distributor  Number of Cars
0  2022-01-31      Bermaz            1015
1  2022-04-30      Bermaz            4849
2  2022-07-31      Bermaz            3367
3  2022-10-31      Bermaz            3701
4  2023-01-31      Bermaz            4887
5  2023-04-30      Bermaz            5652
6  2023-07-31      Bermaz            5665
7  2023-10-31      Bermaz            5540
8  2024-01-31      Bermaz            4815
9  2024-04-30      Bermaz            5081
10 2024-07-31      Bermaz            4225
11 2024-10-31      Bermaz            3396
12 2025-01-31      Bermaz            3151

Clean bermaz_df row that contains "Financial Year:"

In [70]:
# Remove rows where any column in bermaz_df contains the string "Financial Year:"
bermaz_df = bermaz_df[~bermaz_df.apply(lambda row: row.astype(str).str.contains("Financial Year:").any(), axis=1)]

# Display the updated DataFrame
bermaz_df

,Ann. Date,Quarter,Revenue,PBT,NP,NP to SH,NP Margin,ROE,EPS,DPS,...,Unnamed: 28_level_1,Unnamed: 29_level_1,Unnamed: 30_level_1,Unnamed: 31_level_1,Unnamed: 32_level_1,Unnamed: 33_level_1,Unnamed: 34_level_1,Unnamed: 35_level_1,Unnamed: 36_level_1,Unnamed: 37_level_1
1,12-Mar-2025,31-Jan-2025,602080,34832,26227,24144,4.36%,3.71%,2.07,1.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12-Dec-2024,31-Oct-2024,646861,57050,42711,40348,6.60%,5.41%,3.45,10.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11-Sep-2024,31-Jul-2024,846180,97769,75378,70217,8.91%,9.40%,6.01,3.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,11-Jun-2024,30-Apr-2024,937525,130570,99583,90224,10.62%,10.99%,7.73,11.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,13-Mar-2024,31-Jan-2024,896505,95069,74525,70503,8.31%,9.00%,6.04,4.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,12-Dec-2023,31-Oct-2023,1006951,122834,95721,90096,9.51%,11.71%,7.73,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,12-Sep-2023,31-Jul-2023,1089278,140667,107901,100219,9.91%,13.61%,8.59,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,12-Jun-2023,30-Apr-2023,1072399,139533,107614,100622,10.03%,13.21%,8.63,11.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,13-Mar-2023,31-Jan-2023,975967,115516,92184,87288,9.45%,12.34%,7.50,4.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,08-Dec-2022,31-Oct-2022,782969,91589,70808,65673,9.04%,9.94%,5.65,3.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,12-Sep-2022,31-Jul-2022,716869,74566,56616,50159,7.90%,7.96%,4.32,3.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,13-Jun-2022,30-Apr-2022,897361,115432,80845,78704,9.01%,12.41%,6.77,4.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,10-Mar-2022,31-Jan-2022,623130,55112,42722,40711,6.86%,7.01%,3.50,2.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,13-Dec-2021,31-Oct-2021,483838,33549,24922,26039,5.15%,4.68%,2.24,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,13-Sep-2021,31-Jul-2021,320792,14477,10340,10267,3.22%,1.91%,0.88,0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,18-Jun-2021,30-Apr-2021,641197,83470,65870,66827,10.27%,11.78%,5.75,3.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10-Mar-2021,31-Jan-2021,597980,42208,32569,33082,5.45%,6.41%,2.85,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,10-Dec-2020,31-Oct-2020,599844,33900,24533,24790,4.09%,4.96%,2.13,1.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,10-Sep-2020,31-Jul-2020,448894,13115,8587,9245,1.91%,1.92%,0.80,0.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,11-Jun-2020,30-Apr-2020,299360,3199,2056,2459,0.69%,0.52%,0.21,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,16-Mar-2020,31-Jan-2020,467463,34347,28382,27150,6.07%,5.68%,2.34,1.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,10-Dec-2019,31-Oct-2019,457169,29188,21608,20388,4.73%,4.23%,1.76,2.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,13-Sep-2019,31-Jul-2019,535044,65037,51473,50515,9.62%,10.13%,4.35,3.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,12-Jun-2019,30-Apr-2019,538277,77608,60188,60057,11.18%,10.60%,5.18,10.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,13-Mar-2019,31-Jan-2019,778130,102821,81622,81013,10.49%,14.57%,6.99,4.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,12-Dec-2018,31-Oct-2018,690318,94584,74619,73917,10.81%,14.33%,6.36,3.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,13-Sep-2018,31-Jul-2018,485396,67244,51593,50278,10.63%,10.60%,4.33,2.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,12-Jun-2018,30-Apr-2018,570594,73671,58160,57187,10.19%,12.04%,4.93,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,12-Mar-2018,31-Jan-2018,559397,57236,44296,40472,7.92%,9.08%,3.50,2.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,08-Dec-2017,31-Oct-2017,471707,34604,25504,22201,5.41%,5.19%,1.93,1.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,11-Sep-2017,31-Jul-2017,391228,31723,23158,20207,5.92%,4.73%,1.75,1.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,13-Jun-2017,30-Apr-2017,354032,32640,25651,22211,7.25%,5.00%,1.93,3.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,14-Mar-2017,31-Jan-2017,338683,38971,28428,25105,8.39%,5.51%,2.19,2.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,08-Dec-2016,31-Oct-2016,473171,46386,35132,30627,7.42%,6.69%,2.67,2.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,08-Sep-2016,31-Jul-2016,493616,58573,44249,41111,8.96%,9.00%,3.59,3.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,13-Jun-2016,30-Apr-2016,534712,73269,55781,51618,10.43%,9.72%,4.51,10.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,11-Mar-2016,31-Jan-2016,522580,58223,44028,41128,8.43%,8.15%,3.60,2.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,10-Dec-2015,31-Oct-2015,542406,73700,55860,53063,10.30%,10.80%,4.66,2.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,10-Sep-2015,31-Jul-2015,512545,73539,55030,52203,10.74%,11.33%,4.58,2.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,11-Jun-2015,30-Apr-2015,424343,77244,57011,55264,13.44%,11.61%,6.80,6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# Convert bermaz_df's 'Date_Quarter' to match the format of quarterly_registrations' 'quarter'
bermaz_df['quarter'] = pd.to_datetime(bermaz_df['Quarter'], format='%d-%b-%Y')

# Merge the two DataFrames on the 'quarter' column
bermaz_df = pd.merge(
    bermaz_df,
    quarterly_registrations[['quarter', 'Number of Cars']],
    on='quarter',
    how='left'
)
# check columns that have NaN values
bermaz_df.isna().sum()

/var/folders/1t/r_b3s6gn1gx5g7hlg7tvsts00000gn/T/ipykernel_15751/3634063358.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bermaz_df['quarter'] = pd.to_datetime(bermaz_df['Quarter'], format='%d-%b-%Y')

Ann. Date               0
Quarter                 0
Revenue                 0
PBT                     0
NP                      0
NP to SH                0
NP Margin               0
ROE                     0
EPS                     0
DPS                     0
NAPS                    0
QoQ                     0
YoY                     0
Unnamed: 13_level_1    40
Unnamed: 14_level_1    40
Unnamed: 15_level_1    40
Unnamed: 16_level_1    40
Unnamed: 17_level_1    40
Unnamed: 18_level_1    40
Unnamed: 19_level_1    40
Unnamed: 20_level_1    40
Unnamed: 21_level_1    40
Unnamed: 22_level_1    40
Unnamed: 23_level_1    40
Unnamed: 24_level_1    40
Unnamed: 25_level_1    40
Unnamed: 26_level_1    40
Unnamed: 27_level_1    40
Unnamed: 28_level_1    40
Unnamed: 29_level_1    40
Unnamed: 30_level_1    40
Unnamed: 31_level_1    40
Unnamed: 32_level_1    40
Unnamed: 33_level_1    40
Unnamed: 34_level_1    40
Unnamed: 35_level_1    40
Unnamed: 36_level_1    40
Unnamed: 37_level_1    40
quarter                 0
Number of Cars         27
dtype: int64

Remove columns with NaN Values

In [72]:
bermaz_df = bermaz_df.loc[:, ~bermaz_df.columns.str.startswith('Unnamed')]
bermaz_df

,Ann. Date,Quarter,Revenue,PBT,NP,NP to SH,NP Margin,ROE,EPS,DPS,NAPS,QoQ,YoY,quarter,Number of Cars
0,12-Mar-2025,31-Jan-2025,602080,34832,26227,24144,4.36%,3.71%,2.07,1.75,0.5584,-40.16%,-65.75%,2025-01-31,3151.0
1,12-Dec-2024,31-Oct-2024,646861,57050,42711,40348,6.60%,5.41%,3.45,10.00,0.6374,-42.54%,-55.22%,2024-10-31,3396.0
2,11-Sep-2024,31-Jul-2024,846180,97769,75378,70217,8.91%,9.40%,6.01,3.50,0.6398,-22.17%,-29.94%,2024-07-31,4225.0
3,11-Jun-2024,30-Apr-2024,937525,130570,99583,90224,10.62%,10.99%,7.73,11.75,0.7033,27.97%,-10.33%,2024-04-30,5081.0
4,13-Mar-2024,31-Jan-2024,896505,95069,74525,70503,8.31%,9.00%,6.04,4.25,0.6708,-21.75%,-19.23%,2024-01-31,4815.0
5,12-Dec-2023,31-Oct-2023,1006951,122834,95721,90096,9.51%,11.71%,7.73,5.00,0.6604,-10.10%,37.19%,2023-10-31,5540.0
6,12-Sep-2023,31-Jul-2023,1089278,140667,107901,100219,9.91%,13.61%,8.59,5.00,0.631,-0.40%,99.80%,2023-07-31,5665.0
7,12-Jun-2023,30-Apr-2023,1072399,139533,107614,100622,10.03%,13.21%,8.63,11.00,0.6536,15.28%,27.85%,2023-04-30,5652.0
8,13-Mar-2023,31-Jan-2023,975967,115516,92184,87288,9.45%,12.34%,7.50,4.50,0.6078,32.91%,114.41%,2023-01-31,4887.0
9,08-Dec-2022,31-Oct-2022,782969,91589,70808,65673,9.04%,9.94%,5.65,3.50,0.5688,30.93%,152.21%,2022-10-31,3701.0
10,12-Sep-2022,31-Jul-2022,716869,74566,56616,50159,7.90%,7.96%,4.32,3.00,0.542,-36.27%,388.55%,2022-07-31,3367.0
11,13-Jun-2022,30-Apr-2022,897361,115432,80845,78704,9.01%,12.41%,6.77,4.50,0.5458,93.32%,17.77%,2022-04-30,4849.0
12,10-Mar-2022,31-Jan-2022,623130,55112,42722,40711,6.86%,7.01%,3.50,2.25,0.4996,56.35%,23.06%,2022-01-31,1015.0
13,13-Dec-2021,31-Oct-2021,483838,33549,24922,26039,5.15%,4.68%,2.24,1.50,0.4794,153.62%,5.04%,2021-10-31,NaN
14,13-Sep-2021,31-Jul-2021,320792,14477,10340,10267,3.22%,1.91%,0.88,0.50,0.4633,-84.64%,11.05%,2021-07-31,NaN
15,18-Jun-2021,30-Apr-2021,641197,83470,65870,66827,10.27%,11.78%,5.75,3.25,0.4883,102.00%,"2,617.65%",2021-04-30,NaN
16,10-Mar-2021,31-Jan-2021,597980,42208,32569,33082,5.45%,6.41%,2.85,1.50,0.4447,33.45%,21.85%,2021-01-31,NaN
17,10-Dec-2020,31-Oct-2020,599844,33900,24533,24790,4.09%,4.96%,2.13,1.25,0.4301,168.14%,21.59%,2020-10-31,NaN
18,10-Sep-2020,31-Jul-2020,448894,13115,8587,9245,1.91%,1.92%,0.80,0.50,0.4138,275.97%,-81.70%,2020-07-31,NaN
19,11-Jun-2020,30-Apr-2020,299360,3199,2056,2459,0.69%,0.52%,0.21,0.00,0.4041,-90.94%,-95.91%,2020-04-30,NaN
20,16-Mar-2020,31-Jan-2020,467463,34347,28382,27150,6.07%,5.68%,2.34,1.45,0.4118,33.17%,-66.49%,2020-01-31,NaN
21,10-Dec-2019,31-Oct-2019,457169,29188,21608,20388,4.73%,4.23%,1.76,2.75,0.4164,-59.64%,-72.42%,2019-10-31,NaN
22,13-Sep-2019,31-Jul-2019,535044,65037,51473,50515,9.62%,10.13%,4.35,3.25,0.4296,-15.89%,0.47%,2019-07-31,NaN
23,12-Jun-2019,30-Apr-2019,538277,77608,60188,60057,11.18%,10.60%,5.18,10.50,0.4881,-25.87%,5.02%,2019-04-30,NaN
24,13-Mar-2019,31-Jan-2019,778130,102821,81622,81013,10.49%,14.57%,6.99,4.50,0.479,9.60%,100.17%,2019-01-31,NaN
25,12-Dec-2018,31-Oct-2018,690318,94584,74619,73917,10.81%,14.33%,6.36,3.75,0.4442,47.02%,232.94%,2018-10-31,NaN
26,13-Sep-2018,31-Jul-2018,485396,67244,51593,50278,10.63%,10.60%,4.33,2.50,0.4085,-12.08%,148.81%,2018-07-31,NaN
27,12-Jun-2018,30-Apr-2018,570594,73671,58160,57187,10.19%,12.04%,4.93,5.00,0.4113,41.30%,157.47%,2018-04-30,NaN
28,12-Mar-2018,31-Jan-2018,559397,57236,44296,40472,7.92%,9.08%,3.50,2.30,0.386,82.30%,61.21%,2018-01-31,NaN
29,08-Dec-2017,31-Oct-2017,471707,34604,25504,22201,5.41%,5.19%,1.93,1.60,0.372,9.87%,-27.51%,2017-10-31,NaN
30,11-Sep-2017,31-Jul-2017,391228,31723,23158,20207,5.92%,4.73%,1.75,1.50,0.3698,-9.02%,-50.85%,2017-07-31,NaN
31,13-Jun-2017,30-Apr-2017,354032,32640,25651,22211,7.25%,5.00%,1.93,3.15,0.3861,-11.53%,-56.97%,2017-04-30,NaN
32,14-Mar-2017,31-Jan-2017,338683,38971,28428,25105,8.39%,5.51%,2.19,2.75,0.3975,-18.03%,-38.96%,2017-01-31,NaN
33,08-Dec-2016,31-Oct-2016,473171,46386,35132,30627,7.42%,6.69%,2.67,2.75,0.3989,-25.50%,-42.28%,2016-10-31,NaN
34,08-Sep-2016,31-Jul-2016,493616,58573,44249,41111,8.96%,9.00%,3.59,3.00,0.3991,-20.36%,-21.25%,2016-07-31,NaN
35,13-Jun-2016,30-Apr-2016,534712,73269,55781,51618,10.43%,9.72%,4.51,10.00,0.4642,25.51%,-6.60%,2016-04-30,NaN
36,11-Mar-2016,31-Jan-2016,522580,58223,44028,41128,8.43%,8.15%,3.60,2.15,0.4417,-22.49%,-11.60%,2016-01-31,NaN
37,10-Dec-2015,31-Oct-2015,542406,73700,55860,53063,10.30%,10.80%,4.66,2.50,0.4316,1.65%,-7.75%,2015-10-31,NaN
38,10-Sep-2015,31-Jul-2015,512545,73539,55030,52203,10.74%,11.33%,4.58,2.25,0.4044,-5.54%,-6.95%,2015-07-31,NaN
39,11-Jun-2015,30-Apr-2015,424343,77244,57011,55264,13.44%,11.61%,6.80,6.00,0.5859,18.79%,14.89%,2015-04-30,NaN

In [73]:
# save the final DataFrame to a CSV file
bermaz_df.to_csv('data/quarterly_financials/Bermaz_Auto_Berhad_merge_no_of_car.csv', index=False)